<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${person.getFio()}">fio</title>
</head>
<body>
<p th:text="${person.getFio()} + ', ' + ${person.getYearOfBirth()}"></p>

<div th:if="${books.isEmpty()}">
    <p>Человек пока не взял ни одной книги</p>
</div>

<div th:unless="${books.isEmpty()}">
    <hr/>
    <h3>Книги:</h3>
    <div th:each="book: ${books}">
        <p th:text="${book.getTitle()} + ', ' + ${book.getAuthor()} + ', ' + ${book.getYearOfPublication()}"></p>
    </div>
</div>

<hr/>

<form th:method="DELETE" th:action="@{/people/delete/{id}(id=${person.getPerson_id()})}" th:object="${person}">
    <input type="submit" value="Удалить!"/>
</form>
<br/>

<a th:href="@{/people/{id}/edit(id=${person.getPerson_id()})}">
    <button type="button">Редактировать</button>
</a>

</body>
</html>