<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение книги</title>
</head>
<body>
<h2>Страница изменения книги</h2>

<form th:method="patch" th:action="@{/books/{id}/edit(id=${book.getBook_id()})}" th:object="${book}">
    <label for="title">Введите название книги: </label>
    <input type="text" id="title" th:field="*{title}">
    <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</div>
    <br/>

    <label for="author">Введите автора: </label>
    <input type="text" id="author" th:field="*{author}">
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author Error</div>
    <br/>

    <label for="year">Введите год: </label>
    <input type="text" id="year" th:field="*{yearOfPublication}">
    <div style="color:red" th:if="${#fields.hasErrors('yearOfPublication')}" th:errors="*{yearOfPublication}">Year Error</div>

    <br/>
    <input type="submit" value="Изменить!">
</form>
</body>
</html>